# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related (angepasst für /app Unterordner)
app/.dart_tool/
app/.flutter-plugins-dependencies
app/.pub-cache/
app/.pub/
app/build/
app/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Android Studio build artifacts
app/android/app/debug
app/android/app/profile
app/android/app/release

# --- NEU: PocketBase / Docker Backend ---
# Ignoriere die lokale Datenbank und Konfigurationen
server/pb_data/
# Falls du Hooks oder Migrationen nutzt, die nicht ins Repo sollen:
# server/pb_migrations/

# Eigene
infos._js
prompt.txt
